.header-grid {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 64px 1fr;
  gap: 1rem;
}
.header-nav {
  justify-self: end;
}

/* 420px 이하에서의 레이아웃 */
@media (max-width: 420px) {
  .header-grid {
    grid-template-columns: 123fr;
  }
  .header-logo {
    display: flex;
    justify-self: center;
  }
  .header-nav {
    justify-self: center;
  }
}
